{% extends 'paginas/base.html' %}

{% load static %}

{% block content %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1>Homepage</h1>
            <div class="container">
                <p class="lead">Aplicação web desenvolvida em Django para gerenciamento de arquivos (.pdf) </p>
                <p class="lead">CRUD simples com upload de arquivos, separados por categorias; </p>
                <p class="lead">... Em construção...</p>
                <p>Welcome to My Site, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block rodape %}
{% endblock %}